<div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {{#each this}}
          <div class="col">
            <div class="card h-100 shadow-sm">
              <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              ><title>Placeholder</title><rect
                  width="100%"
                  height="100%"
                  fill="#55595c"
                ></rect><text
                  x="50%"
                  y="50%"
                  fill="#eceeef"
                  dy=".3em"
                >Thumbnail</text></svg>
              <div class="card-body">
                <h3 class="card-text" overflow="hidden">{{title}}</h3>
                <p class="card-text">{{price}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {{!-- {{#if dashboard}} --}}
                    {{!-- <a href="/dashboard/edit/{{this.id}}"><button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >Edit
                      </button></a> --}}
                    {{! <button
                        type="button" id="delete-btn"
                        class="btn btn-sm btn-outline-danger"
                      >Delete
                      </button> }}
                    {{!-- {{else}} --}}
                    <a href="/posts/{{id}}"><button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      > View</button></a>
                    {{!-- {{/if}} --}}
                  </div>
                  <p>Listed on: {{format_date created_at}}</p>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src="/javascript/delete-post.js"></script>