<article>
  <div>
    <h3>{{title}}</h3>
  </div>
  <p>{{description}}</p>
  <p>{{price}}</p>
  <p>Listed By: {{user.username}}</p>
  <p>Since: {{format_date created_at}}</p>
  <p>Contact Seller: <a href="mailto:{{user.email}}">{{user.email}}</a></p>
</article>