<div class="container">
  <article class="row">
    <div class="col-12 col-md-6">
      <h3>{{title}}</h3>
      {{!-- <p> Image will go here!</p>
      '<img src="data:image/png;base64,'{{image}}'" alt="something familiar"/>'; --}}
    </div>
    <div class="col-12 col-md-6 border border-dark">
      <p class="border-bottom pb-2 mt-2 mb-3">Description: {{description}}</p>
      <p class="border-bottom pb-2 mb-3">Price: ${{price}}</p>
      <p class="border-bottom pb-2 mb-3">Listed By: {{user.username}}</p>
      <p class="border-bottom pb-2 mb-3">Since: {{format_date created_at}}</p>
      <p class="border-bottom pb-2 mb-3">Contact Seller:
        <a href="mailto:{{user.email}}">{{user.email}}</a></p>
    </div>
  </article>
</div>