
<form class="new-post-form" method="POST" enctype="multipart/form-data">
{{!-- <h4>Upload a photo</h4>
<input type="file" name="imageFile" accept="image/*"/> --}}
  <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-description">Description</label>
      <textarea type="text" id="post-description" name="post-description"></textarea>
    </div>
     <div>
      <label for="post-price">Price</label>
      <input type="text" id="post-price" name="post-price"></input>
    </div>
    <button type="submit" class="">Create Listing</button>
</form>

{{#if posts.length}}
  <section>
    <h3>Your Listings</h3>
    <div>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#each posts as |post|}}
              <div class="col">
                <div class="card h-100 shadow-sm">
                  <svg
                    class="bd-placeholder-img card-img-top"
                    width="100%"
                    height="225"
                    xmlns="http://www.w3.org/2000/svg"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                  ><title>Placeholder</title><rect
                      width="100%"
                      height="100%"
                      fill="#55595c"
                    ></rect><text
                      x="50%"
                      y="50%"
                      fill="#eceeef"
                      dy=".3em"
                    >Thumbnail</text></svg>
                  <div class="card-body">
                    <h3 class="card-text" overflow="hidden">{{post.title}}</h3>
                    <p class="card-text">{{post.price}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        {{!-- {{#if dashboard}} --}}
                          <a href="/dashboard/edit/{{post.id}}"><button
                            type="button"
                            class="btn btn-sm btn-outline-secondary"
                          >Edit
                          </button></a>
                            {{!-- <button
                            type="button" id="delete-btn"
                            class="btn btn-sm btn-outline-danger"
                          >Delete
                          </button> --}}
                          {{!-- {{else}} --}}
                          <a href="/posts/{{post.id}}"><button
                            type="button"
                            class="btn btn-sm btn-outline-secondary"
                          > View</button></a>
                        {{!-- {{/if}} --}}
                      </div>
                        <p>Listed on: {{format_date created_at}}</p>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{/if}}
<script src="/javascript/create-post.js"></script>